/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
h1 {
    color: #5900b3;
 }

h2 {
    color: #330066
}

h3 {
    color: #0055ff;
}